.fraction {
    font-size: 30px;
    font-family: 'Hack', monospace;
    line-height: 1;
    position: relative;
}

.fraction p {
    padding: 10px;
    position: relative;
    border-radius: 3px;
}

.fraction_selected p {
    background-color: #e0cebe;
}