h1 {
  text-align: center;
  font-size: 4vw;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

canvas {
  position: absolute;
  bottom: 0;
}

audio {
  margin: 8px;
}

#pitch {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
}

#track {
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

.unit {
  color: lightgrey;
  font-weight: bold;
  font-size: 2vw;
}

.status-container {
  position: absolute;
  right: 25%;
  top: 25%;
  display: flex;
}

.status-container p {
  font-size: 20px;
}

#status {
  opacity: 1;
  transition: ease all .2s;
}
