.editor {
  display: grid;
  grid-template-areas:
    "appbar appbar"
    "sidebar sheet"
    "sidebar sheet";
  grid-template-columns: 3fr 7fr;
  height: 100%;
  column-gap: 20px;
}

.editor__sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 2fr 8fr;
  min-height: 100vh;
}

.sidebar__widget {
  overflow-x: scroll;
}

.activity-bar {

}

.editor__appbar {
  grid-area: appbar;
  z-index: 1;
}

.toolbar__unit-button {
  width: min-content;
}

.toolbar__units {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8px;
  gap: 5px;
}

.sheet {
  grid-area: sheet;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  row-gap: 30px;
  padding-top: 20px;
  padding-right: 20px;
}

.sheet textarea {
  font-family: monospace;
  font-size: 25px;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
}

.editor__title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.sidebar__widget {
  padding: 10px;
  background-color: rgb(249, 248, 248);
}
