.editor {
  display: grid;
  grid-template-areas:
    "appbar appbar"
    "sidebar sheet"
    "sidebar sheet";
  grid-template-columns: minmax(0, .3fr) .7fr;
  height: 100%;
  column-gap: 20px;
}

.editor__sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: .2fr .8fr;
  min-height: 100vh;
}

.sidebar__widget {
}

.activity-bar {

}

.editor__appbar {
  grid-area: appbar;
  z-index: 1;
}

.toolbar__unit-button {
  width: 100%;
}

.toolbar__units {
  display: grid;
  align-items: center;
  padding-top: 8px;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.sheet {
  grid-area: sheet;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  max-width: 100%;
  row-gap: 10px;
  padding-top: 20px;
  padding-right: 20px;
}

.sheet textarea {
  font-family: monospace;
  font-size: 25px;
}

.editor__title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.editor__widget {
  padding: 10px;
  background-color: rgb(249, 248, 248);
}
