.editor {
  display: grid;
  grid-template-areas: 
    "toolbar heading"
    "toolbar sheet";
  grid-template-columns: .2fr .8fr;
  gap: 20px;
  padding: 20px;
  padding-right: 100px;
}

.editor__heading {
  grid-area: heading;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.editor__toolbar {
  grid-area: toolbar;
  max-width: 20%;
}

.toolbar__unit-button {
  width: 100%;
}

.toolbar__units {
  display: grid;
  align-items: center;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
}

.sheet {
  grid-area: sheet;
  display: grid;
  grid-auto-flow: row;
  row-gap: 30px;
  max-width: 100%;
}

.sheet textarea {
  font-family: monospace;
  font-size: 25px;
}