.tact {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  border-bottom: 1px solid lightslategray;
  padding: 15px 0;
}

.tact_selected {
  background-color: #FEEAD9;
  border-radius: 10px;
}