@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.composition {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.composition__title {
    text-align: center;
    font-size: 30px;
    margin-right: auto;
}

.composition__size {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.composition__header {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.composition__frequency {
    font-family: 'Roboto', sans-serif;
}

.composition__success {
    color: green;
    font-weight: bold;
}

.composition__failed {
    color: red;
    font-weight: bold;
}

.fraction-index {
    color: lightgray;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}